* {
    background-color: #FFC90E;
    margin-left: 30px;
    margin-top: 15px;
    font-family: fantasy;
    text-shadow: 4px 4px 4px rgb(255, 255, 255);
}

h1 {
    font-size: 2em;
    position: relative;
    top: 50%;
    left:44.5%;
    background-color: inherit;
    margin: 0pt;
}


p {
    font-size: 10rem;
    transform: rotate(270deg);
    position: relative;
    top: 50%;
    background-color: inherit;
}

.column {
    width: 21vw;
    height: 84vh;
    border: 2pt solid black;
    display: inline-block;
}

#red {
    background-color: #ED1C24;
}

#green {
    background-color: #22B14C;
}

#blue {
    background-color: #3F48CC;
}

#purple {
    background-color: #A349A4;
}

